.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
}

.sign-up h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.sign-up-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

.sign-up-form input {
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.sign-up-form .email {
    grid-column: 1 / 3;
    width: 100%;
}

.sign-up-form .idk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
}

.idk label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.sign-up-button {
    background-color: #007193;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: .5rem;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 1rem;
}