* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}

button {
  background-color: #007193;
  outline: none;
  border: none;
  border-radius: 30px;
  color: white;
  margin-left: 10px;
}

